In [1]:
# import necessary files and libraries
import pandas as pd

In [2]:
# list out the years and stations
years = [2022,2023,2024]
stations = ['ratnapark','khumaltar','bhaktapur','kirtipur','shankhapark','pulchowk','bhaisipati']
# stations = ['ratnapark','khumaltar']

In [3]:
# Load the PM2.5 datasets and combine it by year and station-wise
try:
    yearly_pm25df = {}
    for j in stations:
        df_list = []
        for i in years:
            i_pm25df_j = pd.read_csv(f"./datasets/Pm25 record data/y_{i}_{j} PM2.5 hourlyaverage.csv")
            df_list.append(i_pm25df_j)
            print(f"{i}_pm25df_{j}")
        yearly_pm25df[j] = pd.concat(df_list, ignore_index = True)
        print(yearly_pm25df[f"{j}"])
        print("\n")
except:
    print("Something went wrong.")

2022_pm25df_ratnapark
2023_pm25df_ratnapark
2024_pm25df_ratnapark
       Unnamed: 0                 date       PM2.5
0               1        1/1/2022 0:00   75.780952
1               2        1/1/2022 1:00   56.584127
2               3        1/1/2022 2:00   49.538710
3               4        1/1/2022 3:00   47.398438
4               5        1/1/2022 4:00   42.821875
...           ...                  ...         ...
26299        8780  2024-12-31 19:00:00   74.526667
26300        8781  2024-12-31 20:00:00   84.556666
26301        8782  2024-12-31 21:00:00  105.226667
26302        8783  2024-12-31 22:00:00  107.503333
26303        8784  2024-12-31 23:00:00   91.450000

[26304 rows x 3 columns]


2022_pm25df_khumaltar
2023_pm25df_khumaltar
2024_pm25df_khumaltar
       Unnamed: 0                 date       PM2.5
0               1        1/1/2022 0:00         NaN
1               2        1/1/2022 1:00         NaN
2               3        1/1/2022 2:00         NaN
3               4        1/1/2022 3:00         NaN
4               5        1/1/2022 4:00         NaN
...           ...                  ...         ...
26299        8780  2024-12-31 19:00:00   82.903335
26300        8781  2024-12-31 20:00:00   91.128335
26301        8782  2024-12-31 21:00:00  103.683052
26302        8783  2024-12-31 22:00:00   91.588335
26303        8784  2024-12-31 23:00:00   82.810346

[26304 rows x 3 columns]


2022_pm25df_bhaktapur
2023_pm25df_bhaktapur
2024_pm25df_bhaktapur
      Unnamed: 0                 date      PM2.5
0              1             1/1/2022  10.250000
1              1             1/1/2022  10.250000
2              1           2024-01-01        NaN
3              2  2024-01-01 01:00:00        NaN
4              3  2024-01-01 02:00:00        NaN
...          ...                  ...        ...
8781        8780  2024-12-31 19:00:00  59.027692
8782        8781  2024-12-31 20:00:00  75.106667
8783        8782  2024-12-31 21:00:00  68.198182
8784        8783  2024-12-31 22:00:00  61.881481
8785        8784  2024-12-31 23:00:00        NaN

[8786 rows x 3 columns]


2022_pm25df_kirtipur
2023_pm25df_kirtipur
2024_pm25df_kirtipur
       Unnamed: 0                 date      PM2.5
0               1           2022-01-01  90.351667
1               2  2022-01-01 01:00:00  82.267164
2               3  2022-01-01 02:00:00  77.096667
3               4  2022-01-01 03:00:00  75.853333
4               5  2022-01-01 04:00:00  77.728333
...           ...                  ...        ...
26299        8780  2024-12-31 19:00:00        NaN
26300        8781  2024-12-31 20:00:00        NaN
26301        8782  2024-12-31 21:00:00        NaN
26302        8783  2024-12-31 22:00:00        NaN
26303        8784  2024-12-31 23:00:00        NaN

[26304 rows x 3 columns]


2022_pm25df_shankhapark
2023_pm25df_shankhapark
2024_pm25df_shankhapark
       Unnamed: 0                 date  PM2.5  Hour  Day  Month
0               1           2022-01-01    NaN   NaN  NaN    NaN
1               2  2022-01-01 01:00:00    NaN   NaN  NaN    NaN
2               3  2022-01-01 02:00:00    NaN   NaN  NaN    NaN
3               4  2022-01-01 03:00:00    NaN   NaN  NaN    NaN
4               5  2022-01-01 04:00:00    NaN   NaN  NaN    NaN
...           ...                  ...    ...   ...  ...    ...
26299        8780  2024-12-31 19:00:00    NaN   NaN  NaN    NaN
26300        8781  2024-12-31 20:00:00    NaN   NaN  NaN    NaN
26301        8782  2024-12-31 21:00:00    NaN   NaN  NaN    NaN
26302        8783  2024-12-31 22:00:00    NaN   NaN  NaN    NaN
26303        8784  2024-12-31 23:00:00    NaN   NaN  NaN    NaN

[26304 rows x 6 columns]


2022_pm25df_pulchowk
2023_pm25df_pulchowk
2024_pm25df_pulchowk
      Unnamed: 0                 date      PM2.5
0              1             1/1/2022  10.250000
1              1           2023-01-01        NaN
2              2  2023-01-01 01:00:00        NaN
3              3  2023-01-01 02:00:00        NaN
4              4  2023-01-01 03:00:00        NaN
...          ...                  ...        ...
8757        8757  2023-12-31 20:00:00  46.410000
8758        8758  2023-12-31 21:00:00  46.731667
8759        8759  2023-12-31 22:00:00  46.791667
8760        8760  2023-12-31 23:00:00  48.083333
8761           1             1/1/2022  10.250000

[8762 rows x 3 columns]


2022_pm25df_bhaisipati
2023_pm25df_bhaisipati
2024_pm25df_bhaisipati
       Unnamed: 0                 date  PM2.5
0               1             1/1/2022  10.25
1               1           2023-01-01    NaN
2               2  2023-01-01 01:00:00    NaN
3               3  2023-01-01 02:00:00    NaN
4               4  2023-01-01 03:00:00    NaN
...           ...                  ...    ...
17540        8780  2024-12-31 19:00:00    NaN
17541        8781  2024-12-31 20:00:00    NaN
17542        8782  2024-12-31 21:00:00    NaN
17543        8783  2024-12-31 22:00:00    NaN
17544        8784  2024-12-31 23:00:00    NaN

[17545 rows x 3 columns]

In [4]:
for i in stations:
    print(f"{i}".upper())
    print(yearly_pm25df[i].head())
    print(yearly_pm25df[i].info())
    print("Missing values =====")
    print(yearly_pm25df[i].isnull().sum())
    print("\n")

RATNAPARK
   Unnamed: 0           date      PM2.5
0           1  1/1/2022 0:00  75.780952
1           2  1/1/2022 1:00  56.584127
2           3  1/1/2022 2:00  49.538710
3           4  1/1/2022 3:00  47.398438
4           5  1/1/2022 4:00  42.821875
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26304 non-null  int64
 1   date        26304 non-null  object
 2   PM2.5       20747 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 616.6+ KB
None
Missing values =====
Unnamed: 0       0
date             0
PM2.5         5557
dtype: int64


KHUMALTAR
   Unnamed: 0           date  PM2.5
0           1  1/1/2022 0:00    NaN
1           2  1/1/2022 1:00    NaN
2           3  1/1/2022 2:00    NaN
3           4  1/1/2022 3:00    NaN
4           5  1/1/2022 4:00    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26304 non-null  int64
 1   date        26304 non-null  object
 2   PM2.5       23097 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 616.6+ KB
None
Missing values =====
Unnamed: 0       0
date             0
PM2.5         3207
dtype: int64


BHAKTAPUR
   Unnamed: 0                 date  PM2.5
0           1             1/1/2022  10.25
1           1             1/1/2022  10.25
2           1           2024-01-01    NaN
3           2  2024-01-01 01:00:00    NaN
4           3  2024-01-01 02:00:00    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8786 entries, 0 to 8785
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8786 non-null   int64
 1   date        8786 non-null   object
 2   PM2.5       6270 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 206.1+ KB
None
Missing values =====
Unnamed: 0       0
date             0
PM2.5         2516
dtype: int64


KIRTIPUR
   Unnamed: 0                 date      PM2.5
0           1           2022-01-01  90.351667
1           2  2022-01-01 01:00:00  82.267164
2           3  2022-01-01 02:00:00  77.096667
3           4  2022-01-01 03:00:00  75.853333
4           5  2022-01-01 04:00:00  77.728333
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26304 non-null  int64
 1   date        26304 non-null  object
 2   PM2.5       16190 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 616.6+ KB
None
Missing values =====
Unnamed: 0        0
date              0
PM2.5         10114
dtype: int64


SHANKHAPARK
   Unnamed: 0                 date  PM2.5  Hour  Day  Month
0           1           2022-01-01    NaN   NaN  NaN    NaN
1           2  2022-01-01 01:00:00    NaN   NaN  NaN    NaN
2           3  2022-01-01 02:00:00    NaN   NaN  NaN    NaN
3           4  2022-01-01 03:00:00    NaN   NaN  NaN    NaN
4           5  2022-01-01 04:00:00    NaN   NaN  NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26304 non-null  int64
 1   date        26304 non-null  object
 2   PM2.5       16775 non-null  float64
 3   Hour        8760 non-null   float64
 4   Day         8760 non-null   float64
 5   Month       8760 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.2+ MB
None
Missing values =====
Unnamed: 0        0
date              0
PM2.5          9529
Hour          17544
Day           17544
Month         17544
dtype: int64


PULCHOWK
   Unnamed: 0                 date  PM2.5
0           1             1/1/2022  10.25
1           1           2023-01-01    NaN
2           2  2023-01-01 01:00:00    NaN
3           3  2023-01-01 02:00:00    NaN
4           4  2023-01-01 03:00:00    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8762 entries, 0 to 8761
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8762 non-null   int64
 1   date        8762 non-null   object
 2   PM2.5       4303 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 205.5+ KB
None
Missing values =====
Unnamed: 0       0
date             0
PM2.5         4459
dtype: int64


BHAISIPATI
   Unnamed: 0                 date  PM2.5
0           1             1/1/2022  10.25
1           1           2023-01-01    NaN
2           2  2023-01-01 01:00:00    NaN
3           3  2023-01-01 02:00:00    NaN
4           4  2023-01-01 03:00:00    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17545 entries, 0 to 17544
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  17545 non-null  int64
 1   date        17545 non-null  object
 2   PM2.5       11028 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 411.3+ KB
None
Missing values =====
Unnamed: 0       0
date             0
PM2.5         6517
dtype: int64

In [5]:
metdf_list = []
for j in stations:
    metdf_j = pd.read_csv(f"./datasets/Meteorological parameters/metdata_{j}_2022to2024.csv")
    metdf_list.append(metdf_j)

for x in metdf_list:
        print(x)

       YEAR  MO  DY  HR  QV2M   RH2M  PRECTOTCORR  WS2M   WD2M     PS  WS10M  \
0      2022   1   1   0  6.70  83.08          0.0  0.47  317.6  88.03   0.77
1      2022   1   1   1  6.48  80.28          0.0  0.40  310.0  88.00   0.64
2      2022   1   1   2  6.27  78.29          0.0  0.26  319.6  87.96   0.46
3      2022   1   1   3  6.02  77.32          0.0  0.28  300.3  87.93   0.46
4      2022   1   1   4  5.80  75.66          0.0  0.29  329.0  87.91   0.51
...     ...  ..  ..  ..   ...    ...          ...   ...    ...    ...    ...
26299  2024  12  31  19  8.28  92.40          0.0  0.62  256.0  87.83   1.44
26300  2024  12  31  20  7.94  91.04          0.0  0.44  262.2  87.85   0.92
26301  2024  12  31  21  7.68  91.15          0.0  0.45  266.2  87.85   1.00
26302  2024  12  31  22  7.39  89.81          0.0  0.58  279.0  87.85   1.19
26303  2024  12  31  23  7.11  87.91          0.0  0.59  285.7  87.80   1.11

         T2M  WD10M
0       8.85  319.2
1       8.86  313.7
2       8.74  323.9
3       8.32  306.1
4       8.09  330.4
...      ...    ...
26299  10.37  253.1
26300   9.97  263.7
26301   9.46  261.4
26302   9.11  274.8
26303   8.85  284.0

[26304 rows x 13 columns]
       YEAR  MO  DY  HR  QV2M   RH2M  PRECTOTCORR  WS2M   WD2M     PS  WS10M  \
0      2022   1   1   0  7.43  84.83          0.0  0.72  305.9  93.29   1.18
1      2022   1   1   1  7.24  82.53          0.0  0.59  296.1  93.26   0.93
2      2022   1   1   2  7.05  82.79          0.0  0.58  279.9  93.22   0.93
3      2022   1   1   3  6.86  83.56          0.0  0.66  279.6  93.20   1.05
4      2022   1   1   4  6.70  82.25          0.0  0.60  294.4  93.17   0.95
...     ...  ..  ..  ..   ...    ...          ...   ...    ...    ...    ...
26299  2024  12  31  19  8.02  83.39          0.0  0.80  265.0  92.99   1.90
26300  2024  12  31  20  7.75  84.14          0.0  0.72  273.2  93.01   1.63
26301  2024  12  31  21  7.62  85.55          0.0  0.73  280.2  93.04   1.68
26302  2024  12  31  22  7.42  86.31          0.0  0.74  301.8  93.04   1.64
26303  2024  12  31  23  7.26  85.72          0.0  0.76  316.6  93.00   1.47

         T2M  WD10M
0      10.94  305.3
1      10.96  297.4
2      10.51  281.2
3       9.96  280.5
4       9.84  296.3
...      ...    ...
26299  12.30  265.5
26300  11.65  272.5
26301  11.15  279.6
26302  10.62  300.3
26303  10.39  316.1

[26304 rows x 13 columns]
       YEAR  MO  DY  HR    T2M  QV2M   RH2M  PRECTOTCORR      PS  WS2M   WD2M  \
0      2022   1   1   0 -18.64  0.70  98.19         0.40  102.62  3.03  112.3
1      2022   1   1   1 -18.55  0.70  97.38         0.38  102.64  3.15  112.2
2      2022   1   1   2 -18.47  0.71  98.04         0.35  102.66  3.32  111.5
3      2022   1   1   3 -18.40  0.71  97.42         0.31  102.69  3.49  111.7
4      2022   1   1   4 -18.33  0.72  98.16         0.27  102.72  3.62  112.6
...     ...  ..  ..  ..    ...   ...    ...          ...     ...   ...    ...
26299  2024  12  31  19 -19.52  0.62  93.38         0.95  101.32  4.91   50.0
26300  2024  12  31  20 -19.54  0.61  92.08         0.91  101.35  5.34   48.8
26301  2024  12  31  21 -19.59  0.60  91.05         0.83  101.40  5.95   47.9
26302  2024  12  31  22 -19.75  0.59  90.95         0.72  101.43  6.59   46.4
26303  2024  12  31  23 -19.98  0.57  89.84         0.55  101.46  7.14   44.0

       WS10M  WD10M
0       3.74  112.3
1       3.90  112.2
2       4.11  111.6
3       4.32  111.8
4       4.47  112.5
...      ...    ...
26299   5.86   50.0
26300   6.41   48.8
26301   7.14   48.0
26302   7.91   46.4
26303   8.58   44.0

[26304 rows x 13 columns]
       YEAR  MO  DY  HR    T2M  QV2M   RH2M  PRECTOTCORR      PS  WS2M   WD2M  \
0      2022   1   1   0 -18.64  0.70  98.19         0.40  102.62  3.03  112.3
1      2022   1   1   1 -18.55  0.70  97.38         0.38  102.64  3.15  112.2
2      2022   1   1   2 -18.47  0.71  98.04         0.35  102.66  3.32  111.5
3      2022   1   1   3 -18.40  0.71  97.42         0.31  102.69  3.49  111.7
4      2022   1   1   4 -18.33  0.72  98.16         0.27  102.72  3.62  112.6
...     ...  ..  ..  ..    ...   ...    ...          ...     ...   ...    ...
26299  2024  12  31  19 -19.52  0.62  93.38         0.95  101.32  4.91   50.0
26300  2024  12  31  20 -19.54  0.61  92.08         0.91  101.35  5.34   48.8
26301  2024  12  31  21 -19.59  0.60  91.05         0.83  101.40  5.95   47.9
26302  2024  12  31  22 -19.75  0.59  90.95         0.72  101.43  6.59   46.4
26303  2024  12  31  23 -19.98  0.57  89.84         0.55  101.46  7.14   44.0

       WS10M  WD10M
0       3.74  112.3
1       3.90  112.2
2       4.11  111.6
3       4.32  111.8
4       4.47  112.5
...      ...    ...
26299   5.86   50.0
26300   6.41   48.8
26301   7.14   48.0
26302   7.91   46.4
26303   8.58   44.0

[26304 rows x 13 columns]
       YEAR  MO  DY  HR    T2M  QV2M   RH2M  PRECTOTCORR      PS  WS2M   WD2M  \
0      2022   1   1   0 -18.64  0.70  98.19         0.40  102.62  3.03  112.3
1      2022   1   1   1 -18.55  0.70  97.38         0.38  102.64  3.15  112.2
2      2022   1   1   2 -18.47  0.71  98.04         0.35  102.66  3.32  111.5
3      2022   1   1   3 -18.40  0.71  97.42         0.31  102.69  3.49  111.7
4      2022   1   1   4 -18.33  0.72  98.16         0.27  102.72  3.62  112.6
...     ...  ..  ..  ..    ...   ...    ...          ...     ...   ...    ...
26299  2024  12  31  19 -19.52  0.62  93.38         0.95  101.32  4.91   50.0
26300  2024  12  31  20 -19.54  0.61  92.08         0.91  101.35  5.34   48.8
26301  2024  12  31  21 -19.59  0.60  91.05         0.83  101.40  5.95   47.9
26302  2024  12  31  22 -19.75  0.59  90.95         0.72  101.43  6.59   46.4
26303  2024  12  31  23 -19.98  0.57  89.84         0.55  101.46  7.14   44.0

       WS10M  WD10M
0       3.74  112.3
1       3.90  112.2
2       4.11  111.6
3       4.32  111.8
4       4.47  112.5
...      ...    ...
26299   5.86   50.0
26300   6.41   48.8
26301   7.14   48.0
26302   7.91   46.4
26303   8.58   44.0

[26304 rows x 13 columns]
       YEAR  MO  DY  HR    T2M  QV2M   RH2M  PRECTOTCORR      PS  WS2M   WD2M  \
0      2022   1   1   0 -18.64  0.70  98.19         0.40  102.62  3.03  112.3
1      2022   1   1   1 -18.55  0.70  97.38         0.38  102.64  3.15  112.2
2      2022   1   1   2 -18.47  0.71  98.04         0.35  102.66  3.32  111.5
3      2022   1   1   3 -18.40  0.71  97.42         0.31  102.69  3.49  111.7
4      2022   1   1   4 -18.33  0.72  98.16         0.27  102.72  3.62  112.6
...     ...  ..  ..  ..    ...   ...    ...          ...     ...   ...    ...
26299  2024  12  31  19 -19.52  0.62  93.38         0.95  101.32  4.91   50.0
26300  2024  12  31  20 -19.54  0.61  92.08         0.91  101.35  5.34   48.8
26301  2024  12  31  21 -19.59  0.60  91.05         0.83  101.40  5.95   47.9
26302  2024  12  31  22 -19.75  0.59  90.95         0.72  101.43  6.59   46.4
26303  2024  12  31  23 -19.98  0.57  89.84         0.55  101.46  7.14   44.0

       WS10M  WD10M
0       3.74  112.3
1       3.90  112.2
2       4.11  111.6
3       4.32  111.8
4       4.47  112.5
...      ...    ...
26299   5.86   50.0
26300   6.41   48.8
26301   7.14   48.0
26302   7.91   46.4
26303   8.58   44.0

[26304 rows x 13 columns]
       YEAR  MO  DY  HR    T2M  QV2M   RH2M  PRECTOTCORR      PS  WS2M   WD2M  \
0      2022   1   1   0 -18.64  0.70  98.19         0.40  102.62  3.03  112.3
1      2022   1   1   1 -18.55  0.70  97.38         0.38  102.64  3.15  112.2
2      2022   1   1   2 -18.47  0.71  98.04         0.35  102.66  3.32  111.5
3      2022   1   1   3 -18.40  0.71  97.42         0.31  102.69  3.49  111.7
4      2022   1   1   4 -18.33  0.72  98.16         0.27  102.72  3.62  112.6
...     ...  ..  ..  ..    ...   ...    ...          ...     ...   ...    ...
26299  2024  12  31  19 -19.52  0.62  93.38         0.95  101.32  4.91   50.0
26300  2024  12  31  20 -19.54  0.61  92.08         0.91  101.35  5.34   48.8
26301  2024  12  31  21 -19.59  0.60  91.05         0.83  101.40  5.95   47.9
26302  2024  12  31  22 -19.75  0.59  90.95         0.72  101.43  6.59   46.4
26303  2024  12  31  23 -19.98  0.57  89.84         0.55  101.46  7.14   44.0

       WS10M  WD10M
0       3.74  112.3
1       3.90  112.2
2       4.11  111.6
3       4.32  111.8
4       4.47  112.5
...      ...    ...
26299   5.86   50.0
26300   6.41   48.8
26301   7.14   48.0
26302   7.91   46.4
26303   8.58   44.0

[26304 rows x 13 columns]

In [ ]:
# merge the dataset
stations = list(yearly_pm25df.keys())  # ['ratnapark','khumaltar']

metdf_dict = {station: metdf_list[i] for i, station in enumerate(stations)}
combined = {}

for station in stations:
    pm = yearly_pm25df[station].reset_index(drop=True)
    met = metdf_dict[station].reset_index(drop=True)

    combined[station] = pd.concat([pm, met], axis=1)

# for x in combined:
#     x_merged_df = combined[x]
#     x_merged_df.to_csv(f"./datasets/merged_datasets/{x}_merged_df.csv")

In [15]:
for x in combined:
    combined[x] = combined[x][['PM2.5',	'YEAR',	'MO', 'DY', 'HR', 'PS', 'WS2M',	'WD2M',	'WS10M', 'WD10M', 'PRECTOTCORR','RH2M',	'QV2M',	'T2M']]
    print(combined[x])

            PM2.5  YEAR  MO  DY  HR     PS  WS2M   WD2M  WS10M  WD10M  \
0       75.780952  2022   1   1   0  88.03  0.47  317.6   0.77  319.2
1       56.584127  2022   1   1   1  88.00  0.40  310.0   0.64  313.7
2       49.538710  2022   1   1   2  87.96  0.26  319.6   0.46  323.9
3       47.398438  2022   1   1   3  87.93  0.28  300.3   0.46  306.1
4       42.821875  2022   1   1   4  87.91  0.29  329.0   0.51  330.4
...           ...   ...  ..  ..  ..    ...   ...    ...    ...    ...
26299   74.526667  2024  12  31  19  87.83  0.62  256.0   1.44  253.1
26300   84.556666  2024  12  31  20  87.85  0.44  262.2   0.92  263.7
26301  105.226667  2024  12  31  21  87.85  0.45  266.2   1.00  261.4
26302  107.503333  2024  12  31  22  87.85  0.58  279.0   1.19  274.8
26303   91.450000  2024  12  31  23  87.80  0.59  285.7   1.11  284.0

       PRECTOTCORR   RH2M  QV2M    T2M
0              0.0  83.08  6.70   8.85
1              0.0  80.28  6.48   8.86
2              0.0  78.29  6.27   8.74
3              0.0  77.32  6.02   8.32
4              0.0  75.66  5.80   8.09
...            ...    ...   ...    ...
26299          0.0  92.40  8.28  10.37
26300          0.0  91.04  7.94   9.97
26301          0.0  91.15  7.68   9.46
26302          0.0  89.81  7.39   9.11
26303          0.0  87.91  7.11   8.85

[26304 rows x 14 columns]
            PM2.5  YEAR  MO  DY  HR     PS  WS2M   WD2M  WS10M  WD10M  \
0             NaN  2022   1   1   0  93.29  0.72  305.9   1.18  305.3
1             NaN  2022   1   1   1  93.26  0.59  296.1   0.93  297.4
2             NaN  2022   1   1   2  93.22  0.58  279.9   0.93  281.2
3             NaN  2022   1   1   3  93.20  0.66  279.6   1.05  280.5
4             NaN  2022   1   1   4  93.17  0.60  294.4   0.95  296.3
...           ...   ...  ..  ..  ..    ...   ...    ...    ...    ...
26299   82.903335  2024  12  31  19  92.99  0.80  265.0   1.90  265.5
26300   91.128335  2024  12  31  20  93.01  0.72  273.2   1.63  272.5
26301  103.683052  2024  12  31  21  93.04  0.73  280.2   1.68  279.6
26302   91.588335  2024  12  31  22  93.04  0.74  301.8   1.64  300.3
26303   82.810346  2024  12  31  23  93.00  0.76  316.6   1.47  316.1

       PRECTOTCORR   RH2M  QV2M    T2M
0              0.0  84.83  7.43  10.94
1              0.0  82.53  7.24  10.96
2              0.0  82.79  7.05  10.51
3              0.0  83.56  6.86   9.96
4              0.0  82.25  6.70   9.84
...            ...    ...   ...    ...
26299          0.0  83.39  8.02  12.30
26300          0.0  84.14  7.75  11.65
26301          0.0  85.55  7.62  11.15
26302          0.0  86.31  7.42  10.62
26303          0.0  85.72  7.26  10.39

[26304 rows x 14 columns]
       PM2.5  YEAR  MO  DY  HR      PS  WS2M   WD2M  WS10M  WD10M  \
0      10.25  2022   1   1   0  102.62  3.03  112.3   3.74  112.3
1      10.25  2022   1   1   1  102.64  3.15  112.2   3.90  112.2
2        NaN  2022   1   1   2  102.66  3.32  111.5   4.11  111.6
3        NaN  2022   1   1   3  102.69  3.49  111.7   4.32  111.8
4        NaN  2022   1   1   4  102.72  3.62  112.6   4.47  112.5
...      ...   ...  ..  ..  ..     ...   ...    ...    ...    ...
26299    NaN  2024  12  31  19  101.32  4.91   50.0   5.86   50.0
26300    NaN  2024  12  31  20  101.35  5.34   48.8   6.41   48.8
26301    NaN  2024  12  31  21  101.40  5.95   47.9   7.14   48.0
26302    NaN  2024  12  31  22  101.43  6.59   46.4   7.91   46.4
26303    NaN  2024  12  31  23  101.46  7.14   44.0   8.58   44.0

       PRECTOTCORR   RH2M  QV2M    T2M
0             0.40  98.19  0.70 -18.64
1             0.38  97.38  0.70 -18.55
2             0.35  98.04  0.71 -18.47
3             0.31  97.42  0.71 -18.40
4             0.27  98.16  0.72 -18.33
...            ...    ...   ...    ...
26299         0.95  93.38  0.62 -19.52
26300         0.91  92.08  0.61 -19.54
26301         0.83  91.05  0.60 -19.59
26302         0.72  90.95  0.59 -19.75
26303         0.55  89.84  0.57 -19.98

[26304 rows x 14 columns]
           PM2.5  YEAR  MO  DY  HR      PS  WS2M   WD2M  WS10M  WD10M  \
0      90.351667  2022   1   1   0  102.62  3.03  112.3   3.74  112.3
1      82.267164  2022   1   1   1  102.64  3.15  112.2   3.90  112.2
2      77.096667  2022   1   1   2  102.66  3.32  111.5   4.11  111.6
3      75.853333  2022   1   1   3  102.69  3.49  111.7   4.32  111.8
4      77.728333  2022   1   1   4  102.72  3.62  112.6   4.47  112.5
...          ...   ...  ..  ..  ..     ...   ...    ...    ...    ...
26299        NaN  2024  12  31  19  101.32  4.91   50.0   5.86   50.0
26300        NaN  2024  12  31  20  101.35  5.34   48.8   6.41   48.8
26301        NaN  2024  12  31  21  101.40  5.95   47.9   7.14   48.0
26302        NaN  2024  12  31  22  101.43  6.59   46.4   7.91   46.4
26303        NaN  2024  12  31  23  101.46  7.14   44.0   8.58   44.0

       PRECTOTCORR   RH2M  QV2M    T2M
0             0.40  98.19  0.70 -18.64
1             0.38  97.38  0.70 -18.55
2             0.35  98.04  0.71 -18.47
3             0.31  97.42  0.71 -18.40
4             0.27  98.16  0.72 -18.33
...            ...    ...   ...    ...
26299         0.95  93.38  0.62 -19.52
26300         0.91  92.08  0.61 -19.54
26301         0.83  91.05  0.60 -19.59
26302         0.72  90.95  0.59 -19.75
26303         0.55  89.84  0.57 -19.98

[26304 rows x 14 columns]
       PM2.5  YEAR  MO  DY  HR      PS  WS2M   WD2M  WS10M  WD10M  \
0        NaN  2022   1   1   0  102.62  3.03  112.3   3.74  112.3
1        NaN  2022   1   1   1  102.64  3.15  112.2   3.90  112.2
2        NaN  2022   1   1   2  102.66  3.32  111.5   4.11  111.6
3        NaN  2022   1   1   3  102.69  3.49  111.7   4.32  111.8
4        NaN  2022   1   1   4  102.72  3.62  112.6   4.47  112.5
...      ...   ...  ..  ..  ..     ...   ...    ...    ...    ...
26299    NaN  2024  12  31  19  101.32  4.91   50.0   5.86   50.0
26300    NaN  2024  12  31  20  101.35  5.34   48.8   6.41   48.8
26301    NaN  2024  12  31  21  101.40  5.95   47.9   7.14   48.0
26302    NaN  2024  12  31  22  101.43  6.59   46.4   7.91   46.4
26303    NaN  2024  12  31  23  101.46  7.14   44.0   8.58   44.0

       PRECTOTCORR   RH2M  QV2M    T2M
0             0.40  98.19  0.70 -18.64
1             0.38  97.38  0.70 -18.55
2             0.35  98.04  0.71 -18.47
3             0.31  97.42  0.71 -18.40
4             0.27  98.16  0.72 -18.33
...            ...    ...   ...    ...
26299         0.95  93.38  0.62 -19.52
26300         0.91  92.08  0.61 -19.54
26301         0.83  91.05  0.60 -19.59
26302         0.72  90.95  0.59 -19.75
26303         0.55  89.84  0.57 -19.98

[26304 rows x 14 columns]
       PM2.5  YEAR  MO  DY  HR      PS  WS2M   WD2M  WS10M  WD10M  \
0      10.25  2022   1   1   0  102.62  3.03  112.3   3.74  112.3
1        NaN  2022   1   1   1  102.64  3.15  112.2   3.90  112.2
2        NaN  2022   1   1   2  102.66  3.32  111.5   4.11  111.6
3        NaN  2022   1   1   3  102.69  3.49  111.7   4.32  111.8
4        NaN  2022   1   1   4  102.72  3.62  112.6   4.47  112.5
...      ...   ...  ..  ..  ..     ...   ...    ...    ...    ...
26299    NaN  2024  12  31  19  101.32  4.91   50.0   5.86   50.0
26300    NaN  2024  12  31  20  101.35  5.34   48.8   6.41   48.8
26301    NaN  2024  12  31  21  101.40  5.95   47.9   7.14   48.0
26302    NaN  2024  12  31  22  101.43  6.59   46.4   7.91   46.4
26303    NaN  2024  12  31  23  101.46  7.14   44.0   8.58   44.0

       PRECTOTCORR   RH2M  QV2M    T2M
0             0.40  98.19  0.70 -18.64
1             0.38  97.38  0.70 -18.55
2             0.35  98.04  0.71 -18.47
3             0.31  97.42  0.71 -18.40
4             0.27  98.16  0.72 -18.33
...            ...    ...   ...    ...
26299         0.95  93.38  0.62 -19.52
26300         0.91  92.08  0.61 -19.54
26301         0.83  91.05  0.60 -19.59
26302         0.72  90.95  0.59 -19.75
26303         0.55  89.84  0.57 -19.98

[26304 rows x 14 columns]
       PM2.5  YEAR  MO  DY  HR      PS  WS2M   WD2M  WS10M  WD10M  \
0      10.25  2022   1   1   0  102.62  3.03  112.3   3.74  112.3
1        NaN  2022   1   1   1  102.64  3.15  112.2   3.90  112.2
2        NaN  2022   1   1   2  102.66  3.32  111.5   4.11  111.6
3        NaN  2022   1   1   3  102.69  3.49  111.7   4.32  111.8
4        NaN  2022   1   1   4  102.72  3.62  112.6   4.47  112.5
...      ...   ...  ..  ..  ..     ...   ...    ...    ...    ...
26299    NaN  2024  12  31  19  101.32  4.91   50.0   5.86   50.0
26300    NaN  2024  12  31  20  101.35  5.34   48.8   6.41   48.8
26301    NaN  2024  12  31  21  101.40  5.95   47.9   7.14   48.0
26302    NaN  2024  12  31  22  101.43  6.59   46.4   7.91   46.4
26303    NaN  2024  12  31  23  101.46  7.14   44.0   8.58   44.0

       PRECTOTCORR   RH2M  QV2M    T2M
0             0.40  98.19  0.70 -18.64
1             0.38  97.38  0.70 -18.55
2             0.35  98.04  0.71 -18.47
3             0.31  97.42  0.71 -18.40
4             0.27  98.16  0.72 -18.33
...            ...    ...   ...    ...
26299         0.95  93.38  0.62 -19.52
26300         0.91  92.08  0.61 -19.54
26301         0.83  91.05  0.60 -19.59
26302         0.72  90.95  0.59 -19.75
26303         0.55  89.84  0.57 -19.98

[26304 rows x 14 columns]

In [11]:
# overall_mean_value = df_ratnapark['PM2.5'].mean()
# overall_mean_value

43.723958348091436

In [14]:
# compute the mean value of PM2.5 by the 12 months and 24 hours in a day - 
# later used that mean value to replace missing values with the average of hours of that month
monthly_avg_hourly_pm25 = df_ratnapark.groupby(['YEAR','MO', 'HR'])['PM2.5'].mean()
# monthly_avg_hourly_pm25.to_csv('./datasets/hourlyavg_month.csv')
monthly_avg_hourly_pm25

YEAR  MO  HR
2022  1   0      24.464878
          1      21.252500
          2      20.434686
          3      18.221462
          4      15.184770
                   ...
2024  12  19     89.562365
          20    104.385269
          21    110.148172
          22    107.567849
          23     99.938226
Name: PM2.5, Length: 864, dtype: float64

In [15]:
# Define a function that fills the missing values - filling by monthly mean hourly values
def fill_pm25(row):
    if pd.isna(row['PM2.5']):
        return monthly_avg_hourly_pm25.loc[(row['YEAR'], row['MO'], row['HR'])]
    else:
        return row['PM2.5']

df_ratnapark['PM2.5'] = df_ratnapark.apply(fill_pm25, axis=1)
# df_ratnapark.to_csv("./datasets/pm25_filled_by_mean_month_hour.csv", index=False)

In [12]:
df_ratnapark.isnull().sum()

PM2.5          5557
YEAR              0
MO                0
DY                0
HR                0
PS                0
WS2M              0
WD2M              0
WS10M             0
WD10M             0
PRECTOTCORR       0
RH2M              0
QV2M              0
T2M               0
dtype: int64

In [17]:
df_ratnapark['PM2.5'] = df_ratnapark['PM2.5'].fillna(overall_mean_value)

In [18]:
df_ratnapark.isnull().sum()

PM2.5          0
YEAR           0
MO             0
DY             0
HR             0
PS             0
WS2M           0
WD2M           0
WS10M          0
WD10M          0
PRECTOTCORR    0
RH2M           0
QV2M           0
T2M            0
dtype: int64

In [19]:
# df_ratnapark.to_csv("./datasets/ratnapark_pm25_after_imputation.csv")

In [20]:
# Finding Correlation among the parameters - Spearman, Pearson correlation
df_clean = df_ratnapark[['PM2.5',	'MO', 'DY', 'HR', 'PS', 'WS2M',	'WD2M',	'WS10M', 'WD10M', 'PRECTOTCORR','RH2M',	'QV2M',	'T2M']]
df_clean_corr = df_clean.corr()
df_clean_corr

,PM2.5,MO,DY,HR,PS,WS2M,WD2M,WS10M,WD10M,PRECTOTCORR,RH2M,QV2M,T2M
PM2.5,1.000000,-1.932435e-01,-1.015882e-02,-3.887949e-02,0.400289,-0.169077,-0.053710,-0.169854,-0.051789,-0.185792,-0.411608,-0.567624,-0.354670
MO,-0.193243,1.000000e+00,1.006662e-02,-9.913273e-16,0.050090,-0.148291,-0.036506,-0.160631,-0.034621,0.051688,0.490143,0.421070,0.098548
DY,-0.010159,1.006662e-02,1.000000e+00,-9.477663e-17,-0.003108,0.001120,-0.022970,-0.000555,-0.024932,0.026784,0.014002,0.012006,0.005619
HR,-0.038879,-9.913273e-16,-9.477663e-17,1.000000e+00,-0.000899,0.119319,0.252091,0.137320,0.249333,0.025861,0.017635,0.089526,0.126755
PS,0.400289,5.009048e-02,-3.107711e-03,-8.986717e-04,1.000000,-0.155002,0.029455,-0.179142,0.028472,-0.281704,-0.205680,-0.605946,-0.590246
WS2M,-0.169077,-1.482913e-01,1.119677e-03,1.193186e-01,-0.155002,1.000000,0.190518,0.990722,0.196076,0.031534,-0.493096,0.003066,0.573455
WD2M,-0.053710,-3.650598e-02,-2.297041e-02,2.520915e-01,0.029455,0.190518,1.000000,0.177912,0.971214,-0.049829,-0.093824,-0.058097,0.048235
WS10M,-0.169854,-1.606311e-01,-5.545290e-04,1.373202e-01,-0.179142,0.990722,0.177912,1.000000,0.183787,0.040918,-0.475352,0.006776,0.559621
WD10M,-0.051789,-3.462111e-02,-2.493232e-02,2.493330e-01,0.028472,0.196076,0.971214,0.183787,1.000000,-0.047093,-0.094909,-0.055790,0.052998
PRECTOTCORR,-0.185792,5.168807e-02,2.678429e-02,2.586067e-02,-0.281704,0.031534,-0.049829,0.040918,-0.047093,1.000000,0.233966,0.330398,0.174033
RH2M,-0.411608,4.901425e-01,1.400197e-02,1.763518e-02,-0.205680,-0.493096,-0.093824,-0.475352,-0.094909,0.233966,1.000000,0.705679,-0.139715
QV2M,-0.567624,4.210696e-01,1.200585e-02,8.952629e-02,-0.605946,0.003066,-0.058097,0.006776,-0.055790,0.330398,0.705679,1.000000,0.567356
T2M,-0.354670,9.854821e-02,5.618909e-03,1.267551e-01,-0.590246,0.573455,0.048235,0.559621,0.052998,0.174033,-0.139715,0.567356,1.000000