In [1]:
# import necessary files and libraries
import pandas as pd

In [2]:
# list out the years and stations
years = [2022,2023,2024]
# stations = ['ratnapark','khumaltar','bhaktapur','kirtipur','shankhapark','pulchowk','bhaisipati']
stations = ['ratnapark','khumaltar']

In [3]:
# Load the PM2.5 datasets and combine it by year and station-wise
try:
    yearly_pm25df = {}
    for j in stations:
        df_list = []
        for i in years:
            i_pm25df_j = pd.read_csv(f"./datasets/Pm25 record data/y_{i}_{j} PM2.5 hourlyaverage.csv")
            df_list.append(i_pm25df_j)
            print(f"{i}_pm25df_{j}")
        yearly_pm25df[j] = pd.concat(df_list, ignore_index = True)
        print(yearly_pm25df[f"{j}"])
        print("\n")
except:
    print("Something went wrong.")

2022_pm25df_ratnapark
2023_pm25df_ratnapark
2024_pm25df_ratnapark
       Unnamed: 0                 date       PM2.5
0               1        1/1/2022 0:00   75.780952
1               2        1/1/2022 1:00   56.584127
2               3        1/1/2022 2:00   49.538710
3               4        1/1/2022 3:00   47.398438
4               5        1/1/2022 4:00   42.821875
...           ...                  ...         ...
26299        8780  2024-12-31 19:00:00   74.526667
26300        8781  2024-12-31 20:00:00   84.556666
26301        8782  2024-12-31 21:00:00  105.226667
26302        8783  2024-12-31 22:00:00  107.503333
26303        8784  2024-12-31 23:00:00   91.450000

[26304 rows x 3 columns]


2022_pm25df_khumaltar
2023_pm25df_khumaltar
2024_pm25df_khumaltar
       Unnamed: 0                 date       PM2.5
0               1        1/1/2022 0:00         NaN
1               2        1/1/2022 1:00         NaN
2               3        1/1/2022 2:00         NaN
3               4        1/1/2022 3:00         NaN
4               5        1/1/2022 4:00         NaN
...           ...                  ...         ...
26299        8780  2024-12-31 19:00:00   82.903335
26300        8781  2024-12-31 20:00:00   91.128335
26301        8782  2024-12-31 21:00:00  103.683052
26302        8783  2024-12-31 22:00:00   91.588335
26303        8784  2024-12-31 23:00:00   82.810346

[26304 rows x 3 columns]

In [4]:
for i in stations:
    print(f"{i}".upper())
    yearly_pm25df[i]['date'] = pd.to_datetime(
        yearly_pm25df[i]['date'],
        format='mixed',
        errors='coerce'
    )

    # Now extract components
    yearly_pm25df[i]['year'] = yearly_pm25df[i]['date'].dt.year
    yearly_pm25df[i]['month'] = yearly_pm25df[i]['date'].dt.month
    yearly_pm25df[i]['day'] = yearly_pm25df[i]['date'].dt.day
    yearly_pm25df[i]['hour'] = yearly_pm25df[i]['date'].dt.hour
    print(yearly_pm25df[i].head())

RATNAPARK
   Unnamed: 0                date      PM2.5  year  month  day  hour
0           1 2022-01-01 00:00:00  75.780952  2022      1    1     0
1           2 2022-01-01 01:00:00  56.584127  2022      1    1     1
2           3 2022-01-01 02:00:00  49.538710  2022      1    1     2
3           4 2022-01-01 03:00:00  47.398438  2022      1    1     3
4           5 2022-01-01 04:00:00  42.821875  2022      1    1     4
KHUMALTAR
   Unnamed: 0                date  PM2.5  year  month  day  hour
0           1 2022-01-01 00:00:00    NaN  2022      1    1     0
1           2 2022-01-01 01:00:00    NaN  2022      1    1     1
2           3 2022-01-01 02:00:00    NaN  2022      1    1     2
3           4 2022-01-01 03:00:00    NaN  2022      1    1     3
4           5 2022-01-01 04:00:00    NaN  2022      1    1     4

In [5]:
for i in stations:
    print(f"{i}".upper())
    yearly_pm25df[i]['date'] = pd.to_datetime(
        yearly_pm25df[i]['date'],
        format='mixed',
        errors='coerce'
    )

    # Now extract components
    yearly_pm25df[i]['year'] = yearly_pm25df[i]['date'].dt.year
    yearly_pm25df[i]['month'] = yearly_pm25df[i]['date'].dt.month
    yearly_pm25df[i]['day'] = yearly_pm25df[i]['date'].dt.day
    yearly_pm25df[i]['hour'] = yearly_pm25df[i]['date'].dt.hour
    print("\n===== Dataframe info ========")
    print(yearly_pm25df[i].head())
    print(yearly_pm25df[i].info())
    print("Missing values =====")
    print(yearly_pm25df[i].isnull().sum())
    print("\n")

RATNAPARK

===== Dataframe info ========
   Unnamed: 0                date      PM2.5  year  month  day  hour
0           1 2022-01-01 00:00:00  75.780952  2022      1    1     0
1           2 2022-01-01 01:00:00  56.584127  2022      1    1     1
2           3 2022-01-01 02:00:00  49.538710  2022      1    1     2
3           4 2022-01-01 03:00:00  47.398438  2022      1    1     3
4           5 2022-01-01 04:00:00  42.821875  2022      1    1     4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26304 non-null  int64
 1   date        26304 non-null  datetime64[ns]
 2   PM2.5       20747 non-null  float64
 3   year        26304 non-null  int32
 4   month       26304 non-null  int32
 5   day         26304 non-null  int32
 6   hour        26304 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(4), int64(1)
memory usage: 1.0 MB
None
Missing values =====
Unnamed: 0       0
date             0
PM2.5         5557
year             0
month            0
day              0
hour             0
dtype: int64


KHUMALTAR

===== Dataframe info ========
   Unnamed: 0                date  PM2.5  year  month  day  hour
0           1 2022-01-01 00:00:00    NaN  2022      1    1     0
1           2 2022-01-01 01:00:00    NaN  2022      1    1     1
2           3 2022-01-01 02:00:00    NaN  2022      1    1     2
3           4 2022-01-01 03:00:00    NaN  2022      1    1     3
4           5 2022-01-01 04:00:00    NaN  2022      1    1     4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26304 non-null  int64
 1   date        26304 non-null  datetime64[ns]
 2   PM2.5       23097 non-null  float64
 3   year        26304 non-null  int32
 4   month       26304 non-null  int32
 5   day         26304 non-null  int32
 6   hour        26304 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(4), int64(1)
memory usage: 1.0 MB
None
Missing values =====
Unnamed: 0       0
date             0
PM2.5         3207
year             0
month            0
day              0
hour             0
dtype: int64

In [14]:
# -------------------------------------------------
# 1. Fill missing PM2.5 with month-hour average
# -------------------------------------------------
def fill_with_monthly_hourly_avg(df: pd.DataFrame) -> pd.Series:
    # Compute the average for every (year, month, hour) that actually exists
    monthly_hourly = (
        df.groupby(['year', 'month', 'hour'])['PM2.5']
          .mean()
          .rename('monthly_hourly_avg')
    )

    # Merge the averages back onto the original frame
    filled = df.merge(
        monthly_hourly,
        left_on=['year', 'month', 'hour'],
        right_index=True,
        how='left'
    )

    # Where PM2.5 is NaN â†’ use the monthly-hourly average
    return filled['PM2.5'].fillna(filled['monthly_hourly_avg'])

# -------------------------------------------------
# 2. Fill remaining NaNs with the global station average
# -------------------------------------------------
def fill_with_global_avg(df: pd.DataFrame) -> pd.Series:
    global_avg = df['PM2.5'].mean()
    return df['PM2.5'].fillna(global_avg)

# -------------------------------------------------
# Main loop over stations
# -------------------------------------------------
for station in stations:                     # <-- `stations` must be an iterable
    df = yearly_pm25df[station].copy()       # work on a copy to avoid side-effects

    # ---- show a preview (only in notebooks) ----
    try:
        display(f"--- Station: {station} ---")
        display(df.head())
    except NameError:
        print(f"\n--- Station: {station} ---")
        print(df.head())

    # ---- 1. month-hour imputation ----
    df['PM2.5'] = fill_with_monthly_hourly_avg(df)

    # (optional) inspect the monthly-hourly averages
    monthly_hourly = (
        df.groupby(['year', 'month', 'hour'])['PM2.5'].mean()
    )
    print("Monthly-hourly averages (sample):")
    print(monthly_hourly.head(12))

    # ---- 2. global fallback imputation ----
    overall_avg = df['PM2.5'].mean()
    print(f"Overall station average: {overall_avg:.3f}")

    df['PM2.5'] = fill_with_global_avg(df)

    # ---- store the cleaned frame back ----
    yearly_pm25df[station] = df

print("\nImputation finished for all stations.")

'--- Station: ratnapark ---'

   Unnamed: 0                date      PM2.5  year  month  day  hour
0           1 2022-01-01 00:00:00  75.780952  2022      1    1     0
1           2 2022-01-01 01:00:00  56.584127  2022      1    1     1
2           3 2022-01-01 02:00:00  49.538710  2022      1    1     2
3           4 2022-01-01 03:00:00  47.398438  2022      1    1     3
4           5 2022-01-01 04:00:00  42.821875  2022      1    1     4

Monthly-hourly averages (sample):
year  month  hour
2022  1      0       24.464878
             1       21.252500
             2       20.434686
             3       18.221462
             4       15.184770
             5       16.152762
             6       21.635827
             7       27.139590
             8       35.621812
             9       44.041162
             10      36.907617
             11      28.354456
Name: PM2.5, dtype: float64
Overall station average: 42.885

'--- Station: khumaltar ---'

   Unnamed: 0                date  PM2.5  year  month  day  hour
0           1 2022-01-01 00:00:00    NaN  2022      1    1     0
1           2 2022-01-01 01:00:00    NaN  2022      1    1     1
2           3 2022-01-01 02:00:00    NaN  2022      1    1     2
3           4 2022-01-01 03:00:00    NaN  2022      1    1     3
4           5 2022-01-01 04:00:00    NaN  2022      1    1     4

Monthly-hourly averages (sample):
year  month  hour
2022  1      0      NaN
             1      NaN
             2      NaN
             3      NaN
             4      NaN
             5      NaN
             6      NaN
             7      NaN
             8      NaN
             9      NaN
             10     NaN
             11     NaN
Name: PM2.5, dtype: float64
Overall station average: 43.450

Imputation finished for all stations.

In [ ]:
# compute the mean value of PM2.5 by the 12 months and 24 hours in a day - 
# later used that mean value to replace missing values with the average of hours of that month
def fill_hourly_avg_pm25(row):
    if pd.isna(row['PM2.5']):
        return monthly_hourly_avg.loc[(row['year'], row['month'], row['hour'])]
    else:
        return row['PM2.5']
def fill_overall_avg_pm25(row):
    if pd.isna(row['PM2.5']):
        return overall_avg.loc[(row['year'], row['month'], row['hour'])]
    else:
        return row['PM2.5']
        
for i in stations:
    display(f"{i}")
    display(yearly_pm25df[f"{i}"].head())
    monthly_hourly_avg = yearly_pm25df[f"{i}"].groupby(['year','month','hour'])['PM2.5'].mean()
    print(monthly_hourly_avg)
    yearly_pm25df[f"{i}"]['PM2.5'] = yearly_pm25df[f"{i}"].apply(fill_hourly_avg_pm25, axis=1)
    
    overall_avg = yearly_pm25df[f"{i}"]['PM2.5'].mean()
    print(overall_avg)
    yearly_pm25df[f"{i}"]['PM2.5'] = yearly_pm25df[f"{i}"].apply(fill_overall_avg_pm25, axis=1)
# for i in stations:
#     df = yearly_pm25df[i].copy()
    
#     # Compute average PM2.5 for each (year, month, hour)
#     avg_pm25 = df.groupby(['year', 'month', 'hour'])['PM2.5'].mean().reset_index()
#     avg_pm25 = avg_pm25.rename(columns={'PM2.5': 'fill_value'})
    
#     # Merge the average back
#     df = df.merge(avg_pm25, on=['year', 'month', 'hour'], how='left')
    
#     # Fill missing PM2.5 with the computed average
#     df['PM2.5'] = df['PM2.5'].fillna(df['fill_value'])
    
#     # Clean up
#     df.drop('fill_value', axis=1, inplace=True)
    
#     # Save back
#     yearly_pm25df[i] = df

#     print(f"Station {i}: Filled missing PM2.5 using monthly-hourly averages.")

In [16]:
display(yearly_pm25df['ratnapark'].info())
display(yearly_pm25df['khumaltar'].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26304 non-null  int64
 1   date        26304 non-null  datetime64[ns]
 2   PM2.5       26304 non-null  float64
 3   year        26304 non-null  int32
 4   month       26304 non-null  int32
 5   day         26304 non-null  int32
 6   hour        26304 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(4), int64(1)
memory usage: 1.0 MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26304 non-null  int64
 1   date        26304 non-null  datetime64[ns]
 2   PM2.5       26304 non-null  float64
 3   year        26304 non-null  int32
 4   month       26304 non-null  int32
 5   day         26304 non-null  int32
 6   hour        26304 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(4), int64(1)
memory usage: 1.0 MB

None

In [17]:
metdf_list = []
for j in stations:
    metdf_j = pd.read_csv(f"./datasets/Meteorological parameters/metdata_{j}_2022to2024.csv")
    metdf_list.append(metdf_j)

for x in metdf_list:
        print(x)

       YEAR  MO  DY  HR  QV2M   RH2M  PRECTOTCORR  WS2M   WD2M     PS  WS10M  \
0      2022   1   1   0  6.70  83.08          0.0  0.47  317.6  88.03   0.77
1      2022   1   1   1  6.48  80.28          0.0  0.40  310.0  88.00   0.64
2      2022   1   1   2  6.27  78.29          0.0  0.26  319.6  87.96   0.46
3      2022   1   1   3  6.02  77.32          0.0  0.28  300.3  87.93   0.46
4      2022   1   1   4  5.80  75.66          0.0  0.29  329.0  87.91   0.51
...     ...  ..  ..  ..   ...    ...          ...   ...    ...    ...    ...
26299  2024  12  31  19  8.28  92.40          0.0  0.62  256.0  87.83   1.44
26300  2024  12  31  20  7.94  91.04          0.0  0.44  262.2  87.85   0.92
26301  2024  12  31  21  7.68  91.15          0.0  0.45  266.2  87.85   1.00
26302  2024  12  31  22  7.39  89.81          0.0  0.58  279.0  87.85   1.19
26303  2024  12  31  23  7.11  87.91          0.0  0.59  285.7  87.80   1.11

         T2M  WD10M
0       8.85  319.2
1       8.86  313.7
2       8.74  323.9
3       8.32  306.1
4       8.09  330.4
...      ...    ...
26299  10.37  253.1
26300   9.97  263.7
26301   9.46  261.4
26302   9.11  274.8
26303   8.85  284.0

[26304 rows x 13 columns]
       YEAR  MO  DY  HR  QV2M   RH2M  PRECTOTCORR  WS2M   WD2M     PS  WS10M  \
0      2022   1   1   0  7.43  84.83          0.0  0.72  305.9  93.29   1.18
1      2022   1   1   1  7.24  82.53          0.0  0.59  296.1  93.26   0.93
2      2022   1   1   2  7.05  82.79          0.0  0.58  279.9  93.22   0.93
3      2022   1   1   3  6.86  83.56          0.0  0.66  279.6  93.20   1.05
4      2022   1   1   4  6.70  82.25          0.0  0.60  294.4  93.17   0.95
...     ...  ..  ..  ..   ...    ...          ...   ...    ...    ...    ...
26299  2024  12  31  19  8.02  83.39          0.0  0.80  265.0  92.99   1.90
26300  2024  12  31  20  7.75  84.14          0.0  0.72  273.2  93.01   1.63
26301  2024  12  31  21  7.62  85.55          0.0  0.73  280.2  93.04   1.68
26302  2024  12  31  22  7.42  86.31          0.0  0.74  301.8  93.04   1.64
26303  2024  12  31  23  7.26  85.72          0.0  0.76  316.6  93.00   1.47

         T2M  WD10M
0      10.94  305.3
1      10.96  297.4
2      10.51  281.2
3       9.96  280.5
4       9.84  296.3
...      ...    ...
26299  12.30  265.5
26300  11.65  272.5
26301  11.15  279.6
26302  10.62  300.3
26303  10.39  316.1

[26304 rows x 13 columns]

In [18]:
# merge the dataset
stations = list(yearly_pm25df.keys())  # ['ratnapark','khumaltar']

metdf_dict = {station: metdf_list[i] for i, station in enumerate(stations)}
combined = {}

for station in stations:
    pm = yearly_pm25df[station].reset_index(drop=True)
    met = metdf_dict[station].reset_index(drop=True)

    combined[station] = pd.concat([pm, met], axis=1)

In [19]:
# Feature selection
for x in combined:
    combined[x] = combined[x][['PM2.5',	'YEAR',	'MO', 'DY', 'HR', 'PS', 'WS2M',	'WD2M',	'WS10M', 'WD10M', 'PRECTOTCORR','RH2M',	'QV2M',	'T2M']]
    display(combined[x].head())

,PM2.5,YEAR,MO,DY,HR,PS,WS2M,WD2M,WS10M,WD10M,PRECTOTCORR,RH2M,QV2M,T2M
0,75.780952,2022,1,1,0,88.03,0.47,317.6,0.77,319.2,0.0,83.08,6.70,8.85
1,56.584127,2022,1,1,1,88.00,0.40,310.0,0.64,313.7,0.0,80.28,6.48,8.86
2,49.538710,2022,1,1,2,87.96,0.26,319.6,0.46,323.9,0.0,78.29,6.27,8.74
3,47.398438,2022,1,1,3,87.93,0.28,300.3,0.46,306.1,0.0,77.32,6.02,8.32
4,42.821875,2022,1,1,4,87.91,0.29,329.0,0.51,330.4,0.0,75.66,5.80,8.09

,PM2.5,YEAR,MO,DY,HR,PS,WS2M,WD2M,WS10M,WD10M,PRECTOTCORR,RH2M,QV2M,T2M
0,43.450102,2022,1,1,0,93.29,0.72,305.9,1.18,305.3,0.0,84.83,7.43,10.94
1,43.450102,2022,1,1,1,93.26,0.59,296.1,0.93,297.4,0.0,82.53,7.24,10.96
2,43.450102,2022,1,1,2,93.22,0.58,279.9,0.93,281.2,0.0,82.79,7.05,10.51
3,43.450102,2022,1,1,3,93.20,0.66,279.6,1.05,280.5,0.0,83.56,6.86,9.96
4,43.450102,2022,1,1,4,93.17,0.60,294.4,0.95,296.3,0.0,82.25,6.70,9.84

In [20]:
for x in combined:
    x_merged_df = combined[x]
    x_merged_df.to_csv(f"./datasets/merged_datasets/{x}_merged_df.csv")

In [29]:
combined['ratnapark'].isnull().sum()
# combined['khumaltar'].isnull().sum()

PM2.5          0
YEAR           0
MO             0
DY             0
HR             0
PS             0
WS2M           0
WD2M           0
WS10M          0
WD10M          0
PRECTOTCORR    0
RH2M           0
QV2M           0
T2M            0
dtype: int64